/*@font-face {
  font-family: 'Sneak-Regular';
  src: url('webfont.eot');  IE9 Compat Modes 
  src: url('webfont.eot?#iefix') format('embedded-opentype'),IE6-IE8 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'),  Pretty Modern Browsers 
       url('webfont.ttf')  format('truetype'),  Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS 
}*/
@font-face {
	font-family:'Sneak-Regular';
	src:url('assets/fonts/Sneak-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'self_modernregular';
    src: url('assets/fonts/webfontkit_selfModern/self-modern-webfont.woff2') format('woff2'),
         url('assets/fonts/webfontkit_selfModern/self-modern-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color:#EAD9BF;
	overflow:hidden;
}


a {
	font-family:'self_modernregular';
	text-decoration:underline;
	color:black;
}

p {
	font-size:calc(10px + 0.25vw)
;
	line-height: 14pt;
	z-index:20;
	margin-top:0;
}

header {
	font-family:'self_modernregular';
	font-size:5em;
}

img {
	width:70%;
	position:absolute;
	top:0;
	left:0;
}


.leftTop {
	align-self: start;
	position:relative;
}

#title {
	align-self:center;
}
.invisible {
	display:none !important; 
}

#scrollContainer {
	height:95vh;
	width:100vw;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	overflow-y: auto;
	scrollbar-width: none;
}
::-webkit-scrollbar {
	width: 0px; 
	background: transparent;
}

.gridContainer {
	display:grid;
	grid-template-columns: repeat(12, 1fr) ;
	grid-column-gap:1vw;
	grid-template-rows: 1fr 1fr;
	grid-column-gap:1vh;
	height:97vh;
	padding:1%;
}

#contact a{
	font-family:'Sneak-Regular';
	text-decoration:none;
}

.project_description {
	font-family:'Sneak-Regular';
	z-index:20;
}

.serifFont {
	font-family:'self_modernregular';
}

.bottomItem {
	align-self:end;
	font-family:'Sneak-Regular';
}

.placeholder {
	font-size:10em;
	color:transparent;
	opacity:0.1;
}




@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .leftTop {
  	text-align:center;
  	grid-column: 1/span 12;
  	grid-row:1/span 1;
  }

 	.project_description {
		grid-column :1/13;
		grid-row:2/span 1;
	}

	#contact {
		grid-column:11/span 2;
		grid-row:2/span 1;
		text-align:right;
	}

	.bottomItem{
		grid-column:1/span 6;
		grid-row:2/span 1;
	}
}

@media only screen and (min-width: 600px) {
	/* For tablets */

	.leftTop {
  	text-align:center;
  	grid-column: 1/span 12;
  	grid-row:1/span 1;
  }

	.project_description {
		grid-column :1/13;
		grid-row:2/span 1;
	}

	#contact {
		grid-column:11/span 2;
		grid-row:2/span 1;
		text-align:right;
	}

	.bottomItem {
		grid-column:1/span 6;
		grid-row:2/span 1;
	}

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
	.leftTop {
  	text-align:left;
  	grid-column: 1/span 5;
  	grid-row:1/span 2;
  }

  .project_description {
		grid-column :10/13;
		grid-row:1/span 1;
	}

	#contact {
		grid-column:10/11;
		grid-row:2/span 1;
	}

	.bottomItem {
		grid-column:1/span 3;
		grid-row:2/span 1;
	}
}